<form [formGroup]="service.detailForm" class="normal-form table-responsive-sm">
  <div class="row">
    <mat-toolbar>
      <mat-form-field class="example-full-width" style="float:left;">
        <span matPrefix><i class="far fa-hashtag"></i></span>
        <input matInput formControlName="sifraRacuna" style="color:#000000" readonly>
      </mat-form-field>

      <span style="margin:0 auto; font-size:30px"><i class="fal fa-file-invoice-dollar fa-lg"></i> RACUN</span>

      <mat-form-field class="example-full-width" style="float:right">
        <span matPrefix><i class="far fa-dollar-sign"></i></span>
        <input matInput formControlName="ukupanIznos" style="color:#000000" format="currency" readonly>
      </mat-form-field>

    </mat-toolbar>

    <div class="col-12 table-responsive-sm" style="margin-top:2%">
      <table class="table table-borderless" id="tabelaStavki">
        <thead class="thead-light">
        <th>Proizvod</th>
        <th>Cena</th>
        <th>Kolicina</th>
        <th>Ukupno</th>
        <th><button mat-raised-button color="primary" (click)="AddOrEdit(null, service.detailForm.sifraRacuna)"><i class="fa fa-plus"></i> Dodaj</button></th>
        </thead>
        <tbody>
          <tr *ngIf="service.stavke.length === 0">
            <td class="font-italic text-center" colspan="5">
              Nema stavki na ovom racunu.
            </td>
          </tr>
          <tr *ngFor="let stavka of service.stavke; let i=index;">
            <td>{{stavka.naziv}}</td>
            <td>{{stavka.cenaPoJedinici}}</td>
            <td>{{stavka.kolicina}}</td>
            <td>{{stavka.ukupno | currency}}</td>
            <td>
              <a (click)="AddOrEdit(i, service.detailForm.sifraRacuna)" id="editStavke"><i class="fas fa-edit fa-lg"></i></a>
              <a (click)="onDeleteStavkaRacuna(stavka.stavkaRacunaId, i)" id="delete" style="margin-left:5px;"><i class="fas fa-trash-alt fa-lg"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="redirectNaListu()"><i class="fas fa-check"></i> Potvrdi</button>
  <button mat-raised-button color="warn" style="margin-left: 15px;" type="submit" (click)="print()"><i class="fal fa-print"></i> Stampaj</button>
</form>
