

table {
  width:100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

th {
  font-size: 15px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #9d9d9d;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

#delete {
  color: #990909;
}

  #delete:hover {
    color: #db0202;
    cursor: pointer;
  }
