<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga" id="pretraga">
</mat-form-field>

<!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->

<div class="mat-elevation-z8 table-responsive-sm table-responsive-md">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="barkod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Barkod </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.barkod}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.naziv}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.cena | number:'.2-2'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="kolicina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kolicina </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.kolicina}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="proizvodjac">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proizvodjac </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.proizvodjac}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="zemljaPorekla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zemlja porekla </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.zemljaPorekla}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="proizvodId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proizvod Id </th>
      <td mat-cell *matCellDef="let vrsta"> {{vrsta.proizvodId}} </td>
    </ng-container>

    <ng-container matColumnDef="opcije">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button style="background-color: #b71c1c" (click)="onCreate()">
          <mat-icon>add</mat-icon> Dodaj
        </button>
      </th>
      <td mat-cell *matCellDef="let vrsta">
        <a (click)="delete(vrsta.barkod)" id="delete" class="btn btn-danger" style="font-size:12px; color:whitesmoke;">OBRISI</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let vrsta" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="vrsta == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-position"> {{vrsta.barkod}} </div>
            <div class="example-element-symbol"> {{vrsta.naziv}} </div>
            <div class="example-element-name"> {{vrsta.cena}} </div>
          </div>
          <div class="example-element-description">
            <form [formGroup]="service.formUpdate" class="normal-form" (submit)="onSubmit(vrsta)">
              <!--<mat-form-field id="field">
              <input matInput formControlName="proizvodID" type="number"  placeholder="Proizvod ID">
            </mat-form-field>-->

              <mat-form-field id="field">
                <input matInput formControlName="naziv" name="naziv" type="text" placeholder="Naziv">
              </mat-form-field>

              <mat-form-field id="field">
                <input matInput formControlName="cena" name="cena" type="number" placeholder="Cena">
              </mat-form-field>

              <mat-form-field id="field">
                <input matInput formControlName="kolicina" name="kolicina" type="number" placeholder="Kolicina">
              </mat-form-field>

              <mat-form-field id="field">
                <input matInput formControlName="proizvodjac" name="proizvodjac" type="text" placeholder="Proizvodjac">
              </mat-form-field>

              <mat-form-field id="field">
                <input matInput formControlName="zemljaPorekla" name="zemljaPorekla" type="text" placeholder="Zemlja porekla">
              </mat-form-field>


              <button mat-raised-button color="warn" style="margin-left: 10px;" type="submit">Potvrdi</button>
            </form>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let vrsta; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === vrsta"
        (click)="expandedElement = expandedElement === vrsta ? null : vrsta"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--<mat-progress-bar mode="query"></mat-progress-bar>-->
