<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga" id="pretraga">
</mat-form-field>
<div class="mat-elevation-z8 table-responsive-sm table-responsive-md table-responsive-lg">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="korisnikId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.korisnikId}} </td>
    </ng-container>

    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.ime}} </td>
    </ng-container>

    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="korisnickoIme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Korisnicko ime </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.korisnickoIme}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.mail}} </td>
    </ng-container>

    <ng-container matColumnDef="datumRodjenja">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum rodjenja </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.datumRodjenja | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="pol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pol </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.pol}} </td>
    </ng-container>

    <ng-container matColumnDef="telefon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.telefon}} </td>
    </ng-container>

    <ng-container matColumnDef="plata">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plata </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.plata | number:'.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="rolaId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rola </th>
      <td mat-cell *matCellDef="let korisnik"> {{korisnik.rolaId}} </td>
    </ng-container>

    <ng-container matColumnDef="opcije">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button (click)="onCreate()" style="width:135px; background-color: #b71c1c"><mat-icon>add</mat-icon> Dodaj</button>
      </th>
      <td mat-cell *matCellDef="let korisnici">
        <a (click)="openForEdit(korisnici.korisnikId)" id="info" class="btn btn-success" style="font-size:12px; color:whitesmoke">IZMENI</a>
        <a (click)="delete(korisnici.korisnikId)" id="delete" class="btn btn-danger" style="font-size:12px; margin-left:5px; color:whitesmoke">OBRISI</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="table-responsive-sm table-responsive-md table-responsive-lg"></mat-paginator>
</div>
