<form [formGroup]="service.loginForm" class="normal-form" (submit)="onSubmit(service.loginForm)">

  <div class="col-xs-12 col-sm-10 col-md-6" style="width:auto; margin:0 auto;">

    <h3 style="text-align:center">Logovanje</h3>
    <br />
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8" style="margin:auto">
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label>Korisnicko ime</mat-label>
          <input formControlName="korisnickoIme" matInput placeholder="Korisnicko ime" required>
          <mat-error>Neophodno je uneti korisnicko ime</mat-error>
        </mat-form-field>
      </div>


      <div class="col-xs-12 col-sm-10 col-md-8" style="margin:auto">
        <mat-form-field appearance="outline" style="width:100%">
          <mat-label>Lozinka</mat-label>
          <input formControlName="lozinka" [type]="hide ? 'password' : 'text'" matInput placeholder="Lozinka" required>
          <a matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon style="padding-right: 35px">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
          <mat-error>Neophodno je uneti lozinku</mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-10 col-md-8" style="margin:auto">
        <button type="submit" mat-raised-button style="width:100%; background-color: #b71c1c" [disabled]="!service.loginForm.valid">ULOGUJ SE</button>
      </div>
    </div>

  </div>

</form>
